/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color:rgba(45, 45, 45, 0.096);
    
    color: #303030;
    font: fantasy, fantasy,sans-sherif;
}


main {
    margin: 0 auto;
    width: 700
    px;
  
    position: relative;
}


article {
    text-align: justify;
}


header {
    
    text-align: center;
    color: #000;
}


footer {
    text-align: center;
    padding-bottom: 100px;
}



  
  .wijzijn{
    float: right;
    
  }
  
  


.wijbieden{
 float: right;

}




.afbeeldingmenu{
  float: left;
  width: 1000px;
  height: 700px ;
  margin-left: 300px

 
  

}
  
.logo{
  text-align: left;
  width: 200px;
  height: 200px;
 margin-top: 50px ;
  
  
  
}

.overonsafbeelding{
  width: 300px;
  height: 500px;
  float: left;
}

.khoraoudgrieks{
  text-align: right;
  margin-top: 100px;
}




.overdina{
 text-align: left;
 margin-top: 500px;
}

.floatclear{
  clear: both;
}

.afbeeldingoverdina{
  float: right;
  height:500px ;
  width: 500px;
}


.mediterrane{
text-align: center;
margin-right: 1300px;
margin-top: 200px;
}
.afbeeldingplant{
height: 400px;
  width: 400px;
  float: center;  
  margin-right: 100px;
}

.behindtheface{
text-align: center;
margin-top: 200px;
margin-left: 1000px;
margin-bottom: 1000px;
}

.afbeeldingbehindtheface{
 height: 400px;
  width: 400px;
  float: center;
  
  
  
}

.driedee{
text-align: left;
margin-bottom: 100px
margin-left: 100px;

}











/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color:rgb(4, 16, 20);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0px ;
    background-color: #dddddd;
    overflow: hidden;
    float: right;
    

}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    

}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {


}




